.map-container{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Table Style */
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 900px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 20px;
}
.styled-table thead tr {
  background-color: #88bef5;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #88bef5;
}
